@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

div {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
}